.search {
  margin-top: 50px;
  width: 38vw;
  margin-left: 24vw;
}
.location {
  color: rgb(73, 73, 73);
  margin-top: 30px;
  margin-left: 36%;
  font-size: 4vw;
}
.temperature-wrapper {
  margin-left: 36%;
  color: black;
  font-size: 3em;
  display: flex;
  opacity: 0.7;
}
.description-location {
  margin-left: 36%;
  color: black;
  font-size: 1.3em;
  opacity: 0.7;
}
.units {
  display: flex;
}
.temp-link.active {
  text-decoration: none;
  font-weight: 600;
  cursor: default;
  color: #000000;
}
.temp-link {
  color: #0d6efd;
  font-size: 18px;
}
.divider {
  font-size: 18px;
  color: rgb(21, 21, 109);
  text-decoration: underline;
  cursor: pointer;
}
.weather-information {
  line-height: 30px;
  font-style: italic;
  opacity: 0.7;
}
.temperature {
  margin-left: 36%;
  font-size: 16px;
  color: black;
}
.weatherImage {
  width: 270px;

  margin-left: -11%;
}
.iconPosition {
  margin: 15px 10%;
}
.textPosition {
  margin-top: 20px;
}
@media (max-width: 993px) {
  .weatherImage {
    display: none;
    font-size: 2em;
  }
  .search {
    margin-left: 20vw;
  }
}
@media (max-width: 664px) {
  .search {
    margin-top: 50px;
    width: 50vw;
    margin-left: 24vw;
  }
  .location {
    font-size: 6vw;
  }
}
